$spacings: (
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px
);

$font-sizes: (
    1: 24px,
    2: 20px,
    3: 16px,
    4: 14px,
    5: 12px
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);