@use 'variables';
@use 'functions';
@use 'abstracts';


nav {
  ul {
    margin: 0;
    padding: variables.$padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: variables.$primary;
  }
}


// .btn .btn-primary
// .btn .btn-danger

.card {
    @extend %card-base;

    &-info {
        background: lightblue;
    }

    &__title {
        font-size: 1.5rem;
        color: variables.$primary;
        margin-bottom: functions.spacing(10);
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    &__body {
        font-size: 1.125rem;
        color: #333;
        line-height: 1.7;
    }
}