@use 'variables';
@use 'functions';
@use 'abstracts';
@use 'tokens' as *;

@mixin tomasBanner($file: root) {
  /*!
   * Tomastrap #{$file} v0.0.1 (https://github.com/tomasysh/20250624_scss/)
   * 版權所有
   */
}

@include tomasBanner();

@each $key, $value in $spacings {
    .m-#{$key} {
        margin: $value;
    }
}

@each $key, $value in $font-sizes {
    .fs-#{$key} {
        font-size: $value;
    }
}

// 響應式 spacing
@mixin responsive-spacing($property, $class-prefix, $map) {
    @each $bp, $bp-width in $breakpoints {
        @media (min-width: $bp-width) {
            @each $key, $value in $map {
                .#{$class-prefix}-#{$bp}-#{$key} { #{$property}: $value; }
            }
        }
    }
}

@include responsive-spacing(margin, m, $spacings);
@include responsive-spacing(padding, p, $spacings);

@mixin responsive-font-size($property, $class-prefix, $map) {
    @each $bp, $bp-width in $breakpoints {
        @media (min-width: $bp-width) {
            @each $key, $value in $map {
                .#{$class-prefix}-#{$bp}-#{$key} { #{$property}: $value; }
            }
        }
    }
}

@include responsive-font-size(margin, fs, $font-sizes);

$cols: 1 2 3 4 5 6 7 8 9 10 11 12;

@each $col in $cols {
  .col-#{$col} {
    width:  calc(100% / 12) * $col;
  }
}

$displays: (
  flex: flex,
  block: block,
  inline: inline-block
);

@each $name, $value in $displays {
  .d-#{$name} {
    display: $value;
  }
}

$justifies: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
);

@each $key, $val in $justifies {
  .justify-#{$key} {
    justify-content: $val;
  }
}

$items: (
  start: flex-start,
  center: center,
  end: flex-end,
  stretch: stretch
);

@each $key, $val in $items {
  .items-#{$key} {
    align-items: $val;
  }
}

$cursors: (
    pointer: pointer,
    wait: wait,
    cross: crosshair,
);

@each $key, $val in $cursors {
    .cursor-#{$key} {
        cursor: $val !important;
    }
}

nav {
  ul {
    margin: 0;
    padding: variables.$padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: variables.$primary;
  }
}


// .btn .btn-primary
// .btn .btn-danger

.card {
    @extend %card-base;

    &-info {
        background: lightblue;
    }

    &__title {
        font-size: 1.5rem;
        color: variables.$primary;
        margin-bottom: functions.spacing(10);
        font-weight: 700;
        letter-spacing: 0.02em;
    }

    &__body {
        font-size: 1.125rem;
        color: #333;
        line-height: 1.7;
    }
}